@media only screen and (max-width: 1890px) {

.page__panel { 
	margin: 0 0 30px;
	}

.title.big-size { 
	font-size: 34px;
	line-height: normal;
	}

.page__panel p.position-center { 
	max-width: 1066px;
	}

.product-item__stickers-item { 
	width: 50px;
	}

.title { 
	font-size: 30px;
	line-height: normal;
	}

.recommendation-item__date { 
	font-size: 18px;
	}

.recommendation-item__new { 
	font-size: 18px;
	}

.recommendation-item__sticker-in { 
	font-size: 18px;
	}

.recommendation-item__title { 
	font-size: 24px;
	line-height: normal;
	}

.recommendation-item p { 
	font-size: 18px;
	line-height: normal;
	}

.error-404__logo { 
	height: 300px;
	}

.error-404__title { 
	font-size: 34px;
	}

.search-form.big-size .search-form__btn { 
	width: 40px;
	height: 40px;
	}

.search-form.big-size input { 
	padding: 0 40px 0 45px;
	height: 40px;
	}

.privacy-policy { 
	max-width: 1066px;
	}

.gl-title { 
	font-size: 34px;
	}

.privacy-policy__top-panel p {
	font-size: 16px;
	} 

.info-navi li { 
	font-size: 18px;
	}

}

@media only screen and (max-width: 1500px) {

.main-navi__dropdown-col-item dt { 
	font-size: 14px;
	}

.container { 
	padding-right: 40px;
	padding-left: 40px;
	}

.global-slider.swiper { 
	margin: 0 -40px 80px;
	padding: 0 40px;
 	}

.global-slider.swiper:before, 
.global-slider.swiper:after { 
	display: none;
	}

}

@media only screen and (max-width: 1400px) {

.main-navi > ul > li { 
	font-size: 14px;
	}

}

@media only screen and (max-width: 1360px) {

.wrapper { 
	padding: 76px 0 0;
	}

.header { 
	padding: 0;
	height: auto;
	}

.header.fixed { 
	padding: 0;
	height: auto;
	}

.menu-btn { 
	display: block;
	}

.logo { 
	margin: -8px 30px 0 0;
	}

.header__navi { 
	display: none;
	}

.header__city { 
	display: none;
	}

.header__right-col .user-panel { 
	display: flex;
	margin: 0 0 0 20px;
	}

.header__bottom-panel { 
	display: none;
	}

.search-modal {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transform: translateX(0);
	}

.search-modal__content { 
	border-radius: 0;
	}

.search-modal__overlay { 
	display: block;
	}

.promo-slider .swiper-button-next, 
.promo-slider .swiper-button-prev { 
	width: 34px;
	height: 34px;
	transform: translateY(-17px);
	}

.promo-slider .swiper-button-next { 
	right: 40px;
	}

.promo-slider .swiper-button-prev { 
	left: 40px;
	}

.promo-slider__content { 
	padding: 40px 110px;
	height: 534px;
	}

.promo-slider .swiper-pagination-bullet.swiper-pagination-bullet-active { 
	width: 6px;
	height: 6px;
	}

.promo-slider .swiper-pagination-bullet { 
	width: 4px;
	height: 4px;
	}

.promo-slider__date { 
	font-size: 18px;
	line-height: normal;
	}

.promo-slider__title { 
	font-size: 40px;
	line-height: normal;
	}

.promo-slider p { 
	font-size: 22px;
	line-height: normal;
	}

.promo-slider__link { 
	font-size: 18px;
	line-height: 22px;
	}

.title.big-size { 
	font-size: 30px;
	}

.page__panel p.big-size { 
	font-size: 16px;
	line-height: 24px;
	}

.global-slider.swiper { 
	margin: 0 -40px 60px;
	padding: 0 40px;
	}

.global-slider .swiper-slide { 
	width: 300px;
	}

.price { 
	font-size: 14px;
	}

.old-price { 
	font-size: 14px;
	}

.title { 
	font-size: 24px;
	}

.title.small-size { 
	font-size: 24px;
	line-height: normal;
	}

.recommendation-item__top-panel { 
	padding: 15px;
	}

.recommendation-item__date { 
	font-size: 14px;
	line-height: 22px;
	}

.recommendation-item__new { 
	padding: 0 10px;
	top: 15px;
	right: 15px;
	font-size: 14px;
	line-height: 35px;
	}

.recommendation-item__sticker { 
	padding: 0 0 0 20px;
	}

.recommendation-item__sticker:before { 
	width: 20px;
	}

.recommendation-item__sticker-in { 
	padding: 0 10px;
	font-size: 14px;
	line-height: 35px;
	}

.recommendation-item__bottom-panel { 
	padding: 15px;
	}

.recommendation-item__title { 
	font-size: 20px;
	line-height: normal;
	}

.recommendation-item p { 
	font-size: 14px;
	line-height: normal;
	}

.global-slider .swiper-pagination-bullet { 
	width: 4px;
	height: 4px;
	}

.global-slider .swiper-pagination-bullet.swiper-pagination-bullet-active { 
	width: 6px;
	height: 6px;
	}

#popular-categories-slider { 
	display: none !important;
	}

#m-popular-categories-slider { 
	display: block !important;
	}

.global-slider .swiper-pagination { 
	margin: 15px 0 0;
	}

.page__panel p { 
	font-size: 16px;
	line-height: 24px;
	}

.map { 
	margin: 0 0 60px;
	}

.footer__col { 
	grid-template-columns: 320px 320px 320px;
	}

.mobile-modal.show { 
	opacity: 1;
	visibility: visible;
	}

.mobile-modal.show .mobile-modal__content { 
	left: 0;
	}

.error-404__logo { 
	height: 270px;
	}

.error-404__title { 
	font-size: 30px;
	line-height: normal;
	}

.more-link { 
	font-size: 14px;
	}

.gl-title { 
	font-size: 30px;
	}

.warranty-text.indent-bt-big { 
	margin: 0 0 60px;
	}

.warranty-text span { 
	font-size: 16px;
 	}

.warranty-info { 
	margin: 0 0 60px;
	}

.warranty-info__item { 
	display: block;
	}

.warranty-info__icon { 
	margin: 0 auto 30px;
	}

.warranty-info__description { 
	text-align: center;
	}

.quality-department { 
	margin: 0 0 60px;
	}

.quality-department .btn { 
	max-width: 300px;
	}

.categories__title { 
	font-size: 18px;
	}

.categories__list li { 
	font-size: 14px;
	}

}

@media only screen and (max-width: 1280px) {

.scroll-none { 
	padding-right: 0;
	}

}

@media only screen and (max-width: 1024px) {

.header .logo { 
	position: absolute;
	margin: 0;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
 	}

 .header .logo a { 
 	font-size: 34px;
 	}

.search-form__m-btn { 
	display: block;
	}

.header .search-form form { 
	display: none;
	}

.header__phone { 
	display: none;
	}

.promo-slider .swiper-button-next, 
.promo-slider .swiper-button-prev { 
	display: none;
	} 

.promo-slider__content {
	padding: 30px;
	height: 380px;
	}

.promo-slider__date { 
	margin: 0 0 20px;
	font-size: 16px;
	}

.promo-slider__title {
	margin: 0 0 20px; 
	font-size: 30px;
	}

.promo-slider p { 
	font-size: 16px;
	}

.promo-slider__link { 
	font-size: 16px;
	}

.page { 
	padding: 50px 0;
	}

.title.big-size { 
	font-size: 24px;
	}

.global-slider-arrows { 
	display: none;
	}

.container { 
	padding: 0 15px;
	}

.global-slider.swiper { 
	margin: 0 -15px 60px;
	padding: 0 15px;
	}

.title { 
	font-size: 22px;
	}

.title.small-size { 
	font-size: 22px;
 	}

.global-slider.changed.swiper { 
	margin: 0 0 60px;
	}

.category-item__sticker { 
	padding: 0 0 0 20px;
	}

.category-item__sticker:before { 
	width: 20px;
	background-position: 0 0;
  	background-size: 100%;
	}

.category-item__sticker-in { 
	padding: 0 10px;
	font-size: 14px;
	line-height: 35px;
	}

.ideas { 
	grid-gap: 20px;
	margin: 0 0 60px;
	}

.footer__col { 
	row-gap: 30px;
	grid-template-columns: 1fr 1fr 1fr;
	}

.search-modal__content { 
	box-shadow: none;
	}

.search-modal__overlay { 
	background: #fff;
	}

.error-404__logo { 
	height: 200px;
	}

.error-404__title { 
	font-size: 24px;
	}

.search-form.big-size { 
	max-width: 480px;
	}

.error-404 p { 
	margin: 0 auto 40px;
	max-width: 486px;
	text-align: center;
	}

.more-link { 
	font-size: 12px;
	}

.gl-title { 
	font-size: 24px;
	}

.content-wrap { 
	padding: 0;
	}

.contact-info { 
	grid-gap: 20px;
	}

.contact-info__item { 
	padding: 30px 20px;
	}

.contact-info__title { 
	font-size: 16px;
	}

.contact-info__text { 
	font-size: 14px;
	}

.form-list { 
	grid-gap: 20px;
	}

fieldset { 
	margin: 0 0 20px;
	}

input[type="tel"], 
input[type="text"], 
input[type="email"], 
input[type="password"] { 
	height: 40px;
	}

textarea { 
	height: 130px;
	}

.form-text { 
	font-size: 12px;
	}

.gl-checkbox label { 
	font-size: 12px;
	}

.btn { 
	padding: 12px 30px;
	}

.cost-form .btn { 
	padding: 10px 30px;
	max-width: 170px;
	}

.categories { 
	row-gap: 20px;
	}

.categories__item { 
	flex-basis: calc(50% - 30px/2);
	padding: 0 0 20px;
	}

}

@media only screen and (max-width: 800px) {

.footer__col { 
	grid-template-columns: 1fr 1fr;
	}

}

@media only screen and (max-width: 764px) {

.wrapper { 
	padding: 66px 0 0;
	}

.container { 
	padding-right: 15px;
	padding-left: 15px;
	}

.header__top-panel { 
	padding: 15px 0;
	}

.promo-slider__content.text-center { 
	text-align: left;
	}

.ideas { 
	grid-template-columns: 1fr;
	}

.ideas__info-content { 
	display: none !important;
	}

.ideas-modal.show { 
	opacity: 1;
	visibility: visible;
	}

.m-scroll-none { 
	overflow: hidden !important;
	}

.search-modal__form { 
	margin: 0 0 20px;
	}

.search-modal__content { 
	height: 100%;
	}

.search-modal__content-in { 
	position: relative;
	padding: 56px 0 0;
	height: 100%;
 	}

.search-modal__form { 
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	}

.search-modal__close { 
	right: 0;
	top: 10px;
	}

.search-modal-products-wrap { 
	height: 100%;
	overflow-y: scroll;
	}

.search-modal-products { 
	grid-gap: 20px;
	grid-template-columns: 1fr;
	}

.error-404__logo { 
	margin: 0 0 30px;
	height: 160px;
	}

.search-form.big-size { 
	max-width: 100%;
	}

.error-404 p { 
	font-size: 16px;
	line-height: 24px;
	}

.contact-info { 
	grid-template-columns: 1fr;
	}

.form-list { 
	grid-template-columns: 1fr;
	}

.warranty-info { 
	grid-template-columns: 1fr;
	}

.quality-department { 
	padding: 40px 0;
	}

.info-navi li { 
	padding: 0 10px;
	font-size: 16px;
	}

.cost-form { 
	margin: 0 0 40px;
	}

.cost-form p { 
	font-size: 16px;
	}

.important-information { 
	padding: 15px;
	}

.important-information p { 
	font-size: 14px;
	line-height: 22px;
	}

.cost-services { 
	padding: 40px 0;
	}

.gl-table td { 
	padding: 15px;
	}

.gl-table td { 
	font-size: 12px;
	line-height: 20px;
	}

.tabs-nav a { 
	font-size: 12px;
	line-height: 36px;
	}

.categories__item { 
	flex-basis: calc(100% - 30px/2);
	}

.categories__item:nth-child(5n + 4),
.categories__item:nth-child(5n + 3),
.categories__item:nth-child(5n + 5) {
  	flex-basis: calc(100% - 30px/2);
	}

.categories__list { 
	padding: 0;
	}

}

@media only screen and (max-width: 640px) {

.header .logo a { 
	font-size: 28px;
	}

.user-panel__item.personal-account { 
	display: none;
	}

.footer__col { 
	grid-template-columns: 1fr;
	}

.footer__top-col-in { 
	position: relative;
	padding: 0 0 100px;
	}

.footer__big-title { 
	font-size: 20px;
	line-height: normal;
	}

.footer__delivery-info p { 
	font-size: 14px;
	line-height: 24px;
	}

.more-link { 
	font-size: 12px;
	}

.footer__img-car { 
	position: absolute;
	width: 260px;
	right: 0;
	bottom: 0;
	}

.mailing-form { 
	max-width: 100%;
	}

.mailing-form input { 
	height: 36px;
	}

.mailing-form__btn { 
	width: 36px;
	height: 36px;
	}

.map { 
	margin: 0 0 40px;
	}

.footer__col { 
	grid-row-gap: 0;
	}

.footer__col-item { 
	margin: 0 0 15px;
	}

.footer__col-item:nth-child(8),
.footer__col-item:nth-child(9),
.footer__col-item:nth-child(10) { margin: 0; }

.footer__col-item.changed { 
	border-bottom: 1px solid #c4c4c4;
	}

.footer__col-item.changed.show { 
	padding: 0 0 15px;
	}

.footer__col-item.changed .footer__small-title { 
	position: relative;
	cursor: pointer;
	}

.footer__col-item.changed .footer__small-title:after { 
	position: absolute;
	margin: -5px 0 0;
	width: 15px;
	height: 11px;
	top: 50%;
	right: 0;
	background: url(../img/bg/down-arrow-g.svg) center no-repeat;
  	background-size: 100%;
	content: "";
	}

.footer__col-item.changed.show .footer__small-title:after { 
	transform: rotate(180deg);
	}

.footer__col-item.changed .footer__list { 
	display: none;
	}

.footer__col-item.changed.show .footer__list { 
	display: block;
	}

.footer__col-item:last-child { 
	margin: 0;
	}

.footer__list li { 
	margin: 0;
	line-height: 28px;
	}

.search-modal__content { 
	padding: 15px 15px 0;
	}

.search-modal__form { 
	padding: 0 35px 0 0;
	}

.search-modal__title { 
	margin: 0 0 20px;
	}

.search-modal__form input[type="text"] { 
	padding-right: 15px;
	}

.search-modal__btn { 
	padding: 0 25px;
	width: auto;
	}

.search-modal-products { 
	padding: 0 0 15px;
	}

.favorites-modal__content {
	right: -320px;
	width: 320px;
	}

.favorites-modal__content__in { 
	padding: 66px 0 82px;
	}

.favorites-modal__top-panel { 
	padding: 15px;
	}

.favorites-modal__close { 
	top: 15px;
	right: 15px;
	}

.modal-title { 
	font-size: 18px;
	line-height: 36px;
	}

.favorites-list-wrap {
	padding: 0 15px;
	}

.modal-btn-panel { 
	padding: 15px;
	}

.warranty-text span { 
	font-size: 14px;
	}

p { 
	font-size: 14px;
	line-height: 22px;
	}

}

@media only screen and (max-width: 580px) {

.bread-crumbs li { 
	font-size: 12px;
	}

.privacy-policy__top-panel { 
	padding: 0 0 30px;
	}

.privacy-policy__title { 
	margin-top: 30px;
	}

.error-404 { 
	padding: 0;
	}

.error-404__content { 
	padding: 0 15px;
	}

.error-404__logo { 
	height: 100px;
	}

.error-404__title { 
	text-align: center;
	}

.info-navi { 
	margin: 0 0 40px;
	overflow-x: scroll;
	white-space: nowrap;
	-ms-overflow-style: none;
	scrollbar-width: none;
	}

.info-navi::-webkit-scrollbar {
	width: 0px; 
	height: 0;
	background: transparent;
  	}

.info-navi__in { 
	justify-content: flex-start;
	white-space: nowrap;
	}

.info-navi li {
	margin: 0 15px 0 0; 
	padding: 0;
	}

.info-navi li:last-child {
	margin: 0;
	}

.info-navi a, 
.info-navi span { 
	line-height: 30px;	
	}

.payment-methods__list li { 
	margin: 0 0 30px;
	}

.warning-text:before { 
	top: 0;
	transform: translateY(0);
	}

.payment-methods__list { 
	margin: 0 0 40px;
	}

.rules li:before { 
	font-size: 14px;
	}

.rules li { 
	font-size: 14px;
	line-height: 22px;
	}

.page__panel.changed { 
	display: block;
	}

.cost-form p { 
	font-size: 14px;
	}

.tabs-nav { 
	padding: 30px 0 0;
	}

.gl-table td { 
	padding: 10px;
	font-size: 10px;
	line-height: 16px;
	}

.cost-form__in { 
	display: block;
	}

.cost-form .btn { 
	margin: 20px 0 0;
	max-width: 100%;
	}

}

@media only screen and (max-width: 420px) {

.favorites-modal__content { 
	right: 0;
	width: 100%;
	}

.mobile-modal__content { 
	width: 100%;
	left: 0;
	}

.warranty-text.indent-bt-big { 
	margin: 0 0 40px;
	}

.quality-department__title { 
	font-size: 20px;
	}

.gl-table td { 
	padding: 5px;
	font-size: 8px;
	line-height: 12px;
	}

.categories__list { 
	column-gap: 15px;
	}

.categories__list li { 
	font-size: 12px;
	}

}

@media only screen and (max-width: 360px) {

.header .logo a { 
	font-size: 26px;
	}

.menu-btn { 
	margin: 0 10px 0 0;
	}

.user-panel__item {
	margin: 0 5px 0 0;
	} 

.search-modal__form input[type="text"] { 
	padding-left: 34px;
	font-size: 12px;
	}

.error-404__title { 
	font-size: 20px;
	}

.error-404 .search-form { 
	margin: 0 0 20px;
	}

.error-404 p { 
	margin: 0 0 20px;
	font-size: 14px;
	line-height: 20px;
	}

.gl-title { 
	font-size: 20px;
	}

.warranty-text { 
	padding: 15px;
	}

.payment-methods__icon { 
	width: 36px;
	}

.payment-methods__title { 
	font-size: 18px;
	}

.warning-text { 
	padding: 0 0 0 51px;
	font-size: 12px;
	line-height: 22px;
	}

.warning-text:before { 
	width: 36px;
	height: 36px;
	}

}